.login {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../assets/prueba 1Recurso 11.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.logo {
    max-width: 52%;
}

.txt {
    font-size: 18px;
    padding: 0 10vh 2vh;
    text-align: center;
    line-height: normal;
    width: 43vh;
    font-weight: bold;
}

.login-btn {
    padding: 0 12vh;
    text-transform: capitalize;
}

.des {
    position: absolute;
    bottom: 10%;
    align-items: center;
}