ion-content {
  position: absolute;

  .container {
    height: 45vh;

    .header-rating {
      display: flex;
      flex-flow: column;
      width: 100vw;
      .rating-face {
        display: flex;
        margin: auto;
        margin-bottom: -1.4em;
        width: 12em;
        border: 24px var(--rp-color-primary) solid;
        border-radius: 50%;
      }

      .rating-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 15vh;
        background-color: var(--rp-color-primary);
        border-radius: 10px;
        ion-icon {
          margin: 0 4px;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  ion-list {
    // height: 40vh;
    height: 45vh;
    overflow: scroll;
  }
}
