.custom-logo {
  margin-top: 20%;
}

.custom-row-login {
  margin-top: 20%;
}

.custom-input {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.custom-span-recovery {

}

.custom-cont-recovery {
  padding-top: 3%;
  width: 100%;
 // text-align: right;
}

.custom-cont-butt-login {
  padding-top: 3%;
  width: 100%;
  text-align: center;
}

.custon-button-start {
  text-transform: none;
  font-size: 1rem;
}

.line-sep {
  border: 1px solid black;
}

.cont-google {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3%;
}

.custom-img-goo {
  width: 15%;
  padding-right: 5%;
}

.error {
  color: red;
}
