ion-content {
  --ion-background-color: var(--rp-color-primary) !important;

  ion-rating {
    --star-color: gray;
    --star-color-filled: green;
  }

  .thanks {
    height: 100vh;
  }
}

.avatar-route {
  border: solid 1px white;
  height: 80%;
  width: auto;
}

.custom-row-name {
  padding-top: 6%;
}

.div-avatar {
  margin: auto;
  ion-avatar {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (max-width: 321px) and (min-width: 5px) {
  .custom-space {
    height: 1%;
  }
  .custom-space-two {
    height: 1%;
  }
}
@media only screen and (max-width: 361px) and (min-width: 322px) {
  .custom-space {
    height: 8%;
  }
  .custom-space-two {
    height: 2%;
  }
}
@media only screen and (max-width: 376px) and (min-width: 362px) {
  .custom-space {
    height: 8%;
  }
  .custom-space-two {
    height: 3%;
  }
}
@media only screen and (max-width: 415px) and (min-width: 377px) {
  .custom-space {
    height: 15%;
  }
  .custom-space-two {
    height: 3%;
  }
}
@media only screen and (min-width: 416px) {
  .custom-space {
    height: 20%;
  }
  .custom-space-two {
    height: 8%;
  }
}
@media only screen and (min-width: 540px) {
  .custom-space {
    height: 8%;
  }
  .custom-space-two {
    height: 5%;
  }
}
.custom-avatar {
  .custom-img-avatar {
    box-shadow: 2px 4px 6px #837f7f;
  }
}
.listImg {
  height: 42px;
  width: 42px;
  margin: 10px;
}
.listItemWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.listTextWrapper {
  padding-top: 10px;
  padding-bottom: 20px;
}
.addressDetailsCustom {
  margin: auto;
  width: 90%;
  height: 70px;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 4px 6px #ccc;
}
.custom-text-area {
  border-bottom: black 1px solid;
}
.custom-button {
  text-transform: none;
}
.custom-title {
  color: black;
  .driver {
    font-size: 1.5rem;
  }
}
.custom-row-name {
  font-size: 1rem;
}
.custom-close {
  padding-left: 5%;
  margin-top: 10%;
  background-color: transparent;
  font-size: 2rem;
}
