ion-back-button {
  margin: 3vh;
  --background: var(--ion-color-rp-primary);
}

.soporteWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.soporteTitle {
  display: flex;
  place-items: flex-start;
  padding-top: 8%;
}

.soportePara {
  text-align: center;
  width: 80%;
  color: grey;
}

.soporteNote {
  display: flex;
  align-self: flex-start;
  padding-left: 10%;
  align-items: flex-end;
}

.soporteIp {
  border-bottom: black 1px solid;
  width: 80%;
}

.soporteBtn {
  --background: #fae345;
  color: black;
}

.soporteBtnWrapper {
  flex: 3;
  padding-top: 10%;
}
