.feedbackContainer {
    --background: #fae345;
}

.heading {
    font-size: 22px;
    font-weight: bold;
}

.proPic {
    border-radius: 100px;
    height: 65px;
}

.btn {
    background: white;
    padding: 1px;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    text-transform: none!important;
    border-radius: 8px;
}

.btn2 {
    background: white;
    padding: 1px;
    color: black;
    margin-top: 18px;
    font-size: 12px;
    text-transform: none!important;
    border-radius: 8px;
}

// .feedbackInp {
//     background: unset;
//     border: unset;
//     border-bottom: black 1px solid;
// }

.feedbackInp {
    border-bottom: 1px solid black;
}

.feedbackInpLabel {
    font-size: 12px;
}

.logo {
    height: 40px;
    width: 40px;
}

.textWrapper {
    background-color: white;
    width: 75%;
    border-radius: 8px;
    box-shadow: 2px 2px 6px 1px #ccc;
}

.boldTxt {
    font-weight: bold;
}