.cont-img {
  width: 100%;
  .custom-img-header {
    width: 60%;
  }
}

.custom-qr {
  font-size: 2rem;
}

.custom-icon-op {
  font-size: 1.5rem;
}

#map_id{
  border-radius: 0px;
  height: 100%;
  width: 100%;
  margin-left: 0px;
}
